<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiQcel War</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="/image/logo-iut.png" alt="IUT Logo" width="160" height="80">
        </div>
        <div id="title">
            <h1>P<span>IQcel</span> W<span>ar</span></h1>
        </div>
        <div id="profile">
            <p id="nomUtilisateur"><a href="/profil"></a></p>
        </div>
    </div>
    <div id="canvas-container">
        <canvas id="canvas">
            <!-- Votre canvas ici -->
        </canvas>
    </div>
    <div id="footer">
        <div id="timer">Vous pouvez poser un pixel !</div>
        <div>
            <label>
                <input id="color-selector" type="color">
            </label>
        </div>
        <div>
            <button class="rounded-button">Valider</button>
            <button class="rounded-button">Annuler</button>
        </div>
    </div>
</body>
<script type="module" src="/javascript/Main.js"></script>

{{#unless isConnected}}
    <a href="/signup">S'inscrire</a><br/>
    <a href="/login">Se connecter</a>
{{/unless}}

</html>