<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="icon" type="image/png" size="20x20" href="/image/logo.png">
    <title>Profil</title>
</head>
<body>

    <div class="rectangle">
        <div class="form-container">

            <div class="headerform">
                <img class="image" src="/image/profile-picture.png"/>
                <img class="change" src="/image/profile-change.png"/>   
            </div>

            <div class="infos">
                <label for="pseudo" id="pseudo"> {{profileData.pseudo}} </label>
                <br>
                <br>
                <label class="email" for="email" id="email"> {{profileData.email}} </label>
            </div>  

            <div class="buttons">
                <a href="/changeProfile">
                    <input id="btn_change" type="submit" value="MODIFIER LE PROFIL"/> <!-- onclick="window.location='http://localhost:3000/changeProfile'" -->
                </a>
                <a href="/helpSupport"></a>
                    <input id="btn_help" onclick="window.location='http://localhost:3000/helpSupport'" type="submit" value="AIDE ET SUPPORT"/>
                </a>
                <input id="btn_logout" class="button-logout" type="submit" value="SE DÉCONNECTER"/>
            </div>

        </div>
    </div>

</body>
<script type="module" src="/Controllers/profile.js"></script>
</html>