<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/changeProfile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="icon" type="image/png" size="20x20" href="/image/logo.png">
    <title>Modifier le profil</title>
</head>
<body>

    <div class="rectangle">
        <div class="form-container">
            
            <div class="headerform">
                <img class="image" src="/image/logo-iut.png"/>
                <div class="two">
                    <h1>PIQcel War
                      <span>Modifier le profil</span>
                    </h1>
                </div>
            </div>

            <div class="information">
                <label for="nickname">Votre pseudo :</label>
                <span id="nickname">{{profileData.Pseudo}}</span>
                <img class="change" src="/image/profile-change.png"/>
            </div>
            <div class="information">
                <label for="email">Votre mail IUT :</label>
                <span id="email">{{profileData.Email}}</span>  
                <img class="change" src="/image/profile-change.png"/>
            </div>
            <div class="information">
                <label for="psw">Votre mot de passe :</label>
                <span id="psw">............</span>
                <img class="change" src="/image/profile-change.png"/>
            </div>
            
        </div>
    </div>

</body>
</html>