<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="icon" type="image/png" size="20x20" href="/image/logo.png">
    <title>Confirmer le Code</title>
</head>
<body>
    <div class="rectangle connexion" id="loginFormStyle">
        <div class="form-container">
            <div class="headerform">
                <img class="image" src="/image/logo-iut.png"/>
                <div class="two">
                    <h1>PIQcel War
                      <span>Confirmer le Code</span>
                    </h1>
                </div>
            </div>

            <form id="formConfirmCode" action="/code" method="post">
                <div id="errorMessageContainer"></div><br/>

                <label for="confirmationCode">Code reçu par e-mail :</label>
                <input type="text" name="confirmationCode" id="confirmationCode" required/>

                <input class="button" type="submit" value="CONFIRMER"/>
            </form>
        </div>
    </div>

    <script type="module" src="/javascript/confirmCode.js"></script>
</body>
</html>
